/* Created by: ZoiaB
* Created on: Apr 2022
* This CSS file defines the style for index.php
* ICS2O-Unit3-03-PHP-VolumeSphere
*/

body {
  width: 80%;
  margin: 5% 10%;
  background-color: #c1b2d7;
}

h1 {
  text-align: center;
  background-color: #7489f1;
  color: white;
  padding: 20px;
}

iframe {
  background-color: #7489f1;
}
